# 淘宝源 web站点 https://npmmirror.com
registry=https://registry.npmmirror.com

# KaDa内部私源
@kada:registry=http://10.0.10.63:4873
# node-sass 有相关说明 https://www.npmjs.com/package/node-sass
# 安装node-sass时会从github上下载一个叫binding.node的文件，而github的文件都托管在s3.amazonaws.com，被Q了，所以这里要改
# node-sass 与 Node 版本还存在问题，参考 https://github.com/sass/node-sass#node-sass
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
# 该地址可以专门设置Node镜像地址
# 在遇上模块依赖了C++模块时，会隐式安装node-gyp，node-gyp在首次编译时会依赖Node源码，又去下载Node，但前面设置的镜像会没用，故做以下设置
disturl=https://npmmirror.com/mirrors/node/

# https://www.electronjs.org/docs/latest/tutorial/installation#mirror
electron_mirror=https://npmmirror.com/mirrors/electron/
# https://docs.sentry.io/product/cli/installation/#downloading-from-a-custom-source
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli/

puppeteer_download_host=https://npmmirror.com/mirrors
sharp_dist_base_url=https://npmmirror.com/mirrors/sharp-libvips/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
sqlite3_binary_site=https://npmmirror.com/mirrors/sqlite3/
python_mirror=https://npmmirror.com/mirrors/python/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
